* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  background: #fff;
  color: rgb(0, 0, 0);
}

p {
  font-size: 14px;
  line-height: 1.5;
}

.invisible-buttom {
  visibility: hidden;
}

.nav-bar-text {
  margin: 0;
  color: black;
  display: none;
}
a {
  color: rgb(0, 0, 0) !important;
}

.navbar-collapse {
  text-align: center;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.contact-row {
  margin-top: 10rem;
  margin-right: 5rem;
  margin-left: 5rem;
}

h2,
h3,
h4,
h5 {
  letter-spacing: 2px;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
  color: #919191;
  line-height: 1.5;
}

.form-row {
  width: 80%;
  margin: auto;
}

.contact-container {
  position: relative;
}

.col-one {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-container {
  width: 80%;
  margin: auto;
  padding: 0;
}

.contact-text {
  text-align: center;
  margin-top: 2rem;
}

.form input,
.form textarea {
  border-radius: 5px;
  outline: 0;
  border: 1px solid #919191;
}

.form textarea {
  height: auto;
}

.form input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 1px solid #919191;
  background-color: #fff;
  box-shadow: 0 0 5px #cacaca;
}

.contact-form label {
  letter-spacing: 1px;
  margin-bottom: 8px;
  margin-top: 16px;
}

.contact-form ::placeholder {
  color: #919191;
  /* text-indent: 0.5rem; */
  font-size: 14px;
  padding: 12px 4px;
}

.rereCAPTCHA-text {
  font-size: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-button {
  width: 15rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  /* border-radius: 30px; */
  outline: 0;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 0.5rem 3rem 0.5rem 3rem;
  font-size: 12px;
  transition: 0.5s ease;
}

.form-button:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.video-container {
  width: 80%;
  margin: auto;
}

.video-container video {
  width: 100%;
}

.contact-col {
  margin-top: 1rem;
  padding: 0;
}

.phone-div {
  text-align: center;
  margin-top: 1rem;
}

.col-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

.col-phone {
  text-align: center;
}

.email-col {
  margin-bottom: 0.5rem;
  text-align: center;
}

.email-col p {
  margin-bottom: 0;
}

.email-link {
  text-decoration: none;
  color: #919191 !important;
  transition: 0.5s ease;
}

.email-link:hover,
.email-link:focus,
.email-link:visited {
  text-decoration: underline;
  color: #000000 !important;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-media-icon {
  margin: 0 10px 0 0;
  padding: 10px 10px 6px 10px;
  -webkit-transition: all ease 0.9s;
  transition: all ease 0.9s;
  border: 1px solid rgba(255, 255, 255, 0);
}

.social-media-icon:hover {
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.header-carousel {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.quote {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 3rem;
}

.content-slider {
  width: 80%;
  height: 100px;
  background: white;
  margin: auto;
  margin-bottom: 3rem;
}

.slider {
  /* height: 320px; */
  width: 680px;
  margin: 0 auto 0;
  overflow: visible;
  position: relative;
  color: black;
}

.mask {
  overflow: hidden;
  height: 100px;
  line-height: 100px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 680px;
  height: 320px;
  position: absolute;
  top: -325px;
  list-style: none;
}

.slider .quote {
  font-size: 2rem;
  text-align: center;
}

.slider .source {
  font-size: 20px;
  text-align: right;
}

.slider li.anim1 {
  animation: cycle 5s linear infinite;
}

.slider li.anim2 {
  animation: cycle2 5s linear infinite;
}

.slider li.anim3 {
  animation: cycle3 5s linear infinite;
}

.slider li.anim4 {
  animation: cycle4 5s linear infinite;
}

.slider li.anim5 {
  animation: cycle5 5s linear infinite;
}

.slider:hover li {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
}

.row-five {
  margin-top: 1rem;
}

.row-logo {
  margin-top: -1rem;
}

.logo-text {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.logo-images-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.row-five {
  text-align: center;
  margin-bottom: 2rem;
}

.row-six {
  text-align: center;
  margin-bottom: 2rem;
}

#mc_embed_signup_scroll ::placeholder {
  color: #cacaca;
  text-align: center;
  font-size: 12px;
}

.vision-footer-logo {
  width: 2rem;
  margin-bottom: 0.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vision-footer-logo {
  width: 3rem;
  margin-bottom: 0.5rem;
  position: absolute;
  left: 2rem;
  bottom: 1rem;
}

.footer-text {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  color: #919191;
}

.responsive-contact {
  display: none;
}

@media screen and (max-width: 991px) {
  .form-container {
    width: 100%;
  }
  .video-container {
    width: 100%;
  }
  .content-slider {
    width: 100%;
  }
  .break {
    display: block;
  }
  .form-row{
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 90%;
  }
  .row-six {
    text-align: center;
    margin-bottom: 2rem;
    width: 60%;
    margin: auto;
  }
  .footer-text {
    position: static;
    right: 2rem;
    bottom: 1rem;
    color: #919191;
  }
  .vision-footer-logo {
    width: 3rem;
    margin-bottom: 0.5rem;
    position: static;
    left: 2rem;
    bottom: 1rem;
  }
  .text-carousel-row {
    width: 100%;
    margin: auto;
  }

  .slider {
    width: 100%;
  }
  .slider li {
    width: 100%;
  }
  .form-row {
    width: 100%;
    margin: auto;
  }
  .contact-col {
    display: none;
  }
  .responsive-contact {
    display: block;
    margin: auto;
  }
  .form-button {
    margin-bottom: 0;
  }
  .text-carousel-col {
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .break {
    display: block;
    margin-bottom: 0.5rem;
  }
  .slider .quote {
    font-size: 1rem;
    text-align: center;
  }
  .header-carousel {
    font-size: 1rem;
  }
  .social-media-row {
    padding-right: 0;
  }
  .col-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row-six {
    text-align: center;
    margin-bottom: 2rem;
    width: 80%;
    margin: auto;
  }
  .row-five {
    margin-bottom: 0;
  }
}


h4 {
font-weight: 500;
line-height: 28.8px;
}


@media screen and (max-width: 991px) {
  .footer-text {
    position: relative;
    right: 0;
    bottom: 1rem;
    color: #919191;
  }
  .core-header {
    width: 100%;
    display: none;
  }

  .text-description {
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
  }
  .heading{
    margin-bottom: 5rem;
  }
  .video-description{
    margin-bottom: 2rem;
  }
  .video-title-heading{
    margin-bottom: 2rem;
  }
  
}

@media screen and (max-width: 768px) {
  .second-row {
    display: flex;
    flex-direction: column;
  }
  .text-header {
    margin-bottom: 1rem;
  }
  .text-col {
    margin-top: 1rem;
  }
  .text-description {
    margin-top: 2rem;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 1rem;
  }
  .logo-image {
    max-height: 70%;
    max-width: 70%;
  }
  #mc_embed_signup {
    width: 60%;
    margin: auto;
  }

  .row-six {
    text-align: center;
    margin-bottom: 2rem;
    width: 60%;
    margin: auto;
  }
  .footer {
    margin-top: 1rem;
  }
  .text-col {
    text-align: center;
  }
  .row-seven {
    display: none;
  }
  .footer-row {
    display: block;
    text-align: center;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 449px) {
  .text-header {
    text-align: center;
  }
  .video-col {
    max-width: 600px;
    display: flex;
    align-items: center;
    padding: 0;
  }
  .first-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  video {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .logo-col {
    max-width: 150px;
    order: 1;
  }
  #mc_embed_signup {
    width: 100%;
    margin: auto;
  }
  .core-col {
    max-width: 600px;
  }
  .row-six {
    text-align: center;
    margin-bottom: 2rem;
    width: 80%;
    margin: auto;
  }
  .row-five {
    margin-bottom: 0;
  }
  .text-description {
    
    font-size: 12px;
    margin-top:-0.75rem
  }
  
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  background: white;
  color: black;
  width: 100%;
}

html {
  width: 100%;
}

.invisible-buttom {
  visibility: hidden;
}

p {
  font-size: 14px;
  line-height: 1.5;
}

.roboto-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.nav-bar-text {
  margin: 0;
  color: black;
  display: none;
}

a {
  color: black !important;
}

.navbar-collapse {
  text-align: center;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.heading{
  text-align: center;
  margin-bottom: 6rem;
  margin-top: 2rem;

}


.video-title-heading{
  margin-bottom: 3rem;
  font-size: 35px;
}

.video-row{
  margin-bottom: 12rem;
}

.core-container {
  position: relative;
}

.first-row {
  display: flex;
  margin-top: 1rem;
}

.box-container {
  max-width: 1200px;
}

.logo-col {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.video-col {
  max-width: 600px;
  display: flex;
  justify-content: center;
}

video {
  width: 80%;
  height: 100%;
}

.core-col {
  max-width: 600px;
}

.logo-image {
  max-width: 50%;
  max-height: 50%;
}

.second-row {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.text-header {
  text-align: center;
}

.text-col {
  text-align: left;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.core-header {
  width: 80%;
  display: none;
}

.text-description {
  width: 80%;
  text-transform: uppercase;
  font-size: 1rem;
}

.row-five {
  margin-top: 2rem;
}

.row-logo {
  margin-top: -2rem;
}

.logo-text {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.logo-images-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

/* .logo-image {
  width: 200px;
} */

.row-five {
  text-align: center;
  margin-bottom: 2rem;
}

.row-six {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: -1rem;
}

/* form {
  border-bottom: 2rem;
}

.newsletter-input {
  border-radius: 5px;
  outline: 0;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border: 0;
}

.newsletter-button {
  border-radius: 30px;
  outline: 0;
  border: 1px solid #fff;
  background: black;
  color: white;
  padding: 0.5rem 3rem 0.5rem 3rem;
  font-size: 12px;
  margin-left: 1rem;
}

.newsletter-button:hover {
  background: white;
  color: black;
  transition: 0.5s;
} */

::placeholder {
  color: #cacaca;
  text-align: center;
  font-size: 12px;
}

.vision-footer-logo {
  width: 2rem;
  margin-bottom: 0.5rem;
  display: block;
}

.footer-row {
  display: none;
}

.big-footer {
  position: relative;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vision-footer-logo {
  width: 3rem;
  margin-bottom: 0.5rem;
  position: absolute;
  left: 2rem;
  bottom: 1rem;
}

.footer-text {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  color: #919191;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .footer-text {
    position: relative;
    right: 0;
    bottom: 1rem;
    color: #919191;
  }
  .core-header {
    width: 100%;
    display: none;
  }

  .text-description {
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
  }
  .heading{
    margin-bottom: 5rem;
  }
  .video-description{
    margin-bottom: 2rem;
  }
  .video-title-heading{
    margin-bottom: 2rem;
  }
  
}

@media screen and (max-width: 768px) {
  .second-row {
    display: flex;
    flex-direction: column;
  }
  .text-header {
    margin-bottom: 1rem;
  }
  .text-col {
    margin-top: 1rem;
  }
  .text-description {
    margin-top: 2rem;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 1rem;
  }
  .logo-image {
    max-height: 70%;
    max-width: 70%;
  }
  #mc_embed_signup {
    width: 60%;
    margin: auto;
  }

  .row-six {
    text-align: center;
    margin-bottom: 2rem;
    width: 60%;
    margin: auto;
  }
  .footer {
    margin-top: 1rem;
  }
  .text-col {
    text-align: center;
  }
  .row-seven {
    display: none;
  }
  .footer-row {
    display: block;
    text-align: center;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 449px) {
  .text-header {
    text-align: center;
  }
  .video-col {
    max-width: 600px;
    display: flex;
    align-items: center;
    padding: 0;
  }
  .first-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  video {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .logo-col {
    max-width: 150px;
    order: 1;
  }
  #mc_embed_signup {
    width: 100%;
    margin: auto;
  }
  .core-col {
    max-width: 600px;
  }
  .row-six {
    text-align: center;
    margin-bottom: 2rem;
    width: 80%;
    margin: auto;
  }
  .row-five {
    margin-bottom: 0;
  }
  .text-description {
    
    font-size: 12px;
    margin-top:-0.75rem
  }
  
}

h4{
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}


.contact-form ::placeholder {
  color: #919191;
  text-align: left;
  font-size: 14px;
  padding: 12px 4px;
}