* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  background: white;
  color: black;
  width: 100%;
}

html {
  width: 100%;
}

.invisible-buttom {
  visibility: hidden;
}

p {
  font-size: 14px;
  line-height: 1.5;
}

.roboto-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
}

.nav-bar-text {
  margin: 0;
  color: black;
  display: none;
}

a {
  color: black !important;
}

.navbar-collapse {
  text-align: center;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.core-container {
  position: relative;
}

.first-row {
  display: flex;
  margin-top: 2rem;
}

.box-container {
  max-width: 1200px;
}

.logo-col {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.video-col {
  max-width: 600px;
  display: flex;
  justify-content: center;
}

video {
  width: 80%;
  height: 100%;
}

.core-col {
  max-width: 600px;
}

.logo-image {
  max-width: 50%;
  max-height: 50%;
}

.second-row {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.text-header {
  text-align: center;
}

.text-col {
  text-align: left;
  max-width: 600px;
}

.row-five {
  margin-top: 2rem;
}

.row-logo {
  margin-top: -1rem;
}

.logo-text {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.logo-images-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

/* .logo-image {
  width: 200px;
} */

.row-five {
  text-align: center;
  margin-bottom: 2rem;
}

.row-six {
  text-align: center;
  margin-bottom: 2rem;
}

/* form {
  border-bottom: 2rem;
}

.newsletter-input {
  border-radius: 5px;
  outline: 0;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border: 0;
}

.newsletter-button {
  border-radius: 30px;
  outline: 0;
  border: 1px solid #fff;
  background: black;
  color: white;
  padding: 0.5rem 3rem 0.5rem 3rem;
  font-size: 12px;
  margin-left: 1rem;
}

.newsletter-button:hover {
  background: white;
  color: black;
  transition: 0.5s;
} */

::placeholder {
  color: #cacaca;
  text-align: center;
  font-size: 12px;
}

.vision-footer-logo {
  width: 2rem;
  margin-bottom: 0.5rem;
  display: none;
}

.footer-row{
  display: none;
}

.big-footer{
  position: relative;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vision-footer-logo {
  width: 3rem;
  margin-bottom: 0.5rem;
  position: absolute;
  left: 2rem;
  bottom: 1rem;
}

.footer-text {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  color: #919191;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .footer-text {
    position: relative;
    right: 0;
    bottom: 1rem;
    color: #919191;
  }
}

@media screen and (max-width: 768px) {
  .second-row {
    display: flex;
    flex-direction: column;
  }
  .text-header {
    margin-bottom: 1rem;
  }
  .text-col {
    margin-top: 1rem;
  }
  .text-description {
    margin-top: 2rem;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 1rem;
  }
  .logo-image {
    max-height: 70%;
    max-width: 70%;
  }
  #mc_embed_signup {
    width: 60%;
    margin: auto;
  }

  .row-six {
    text-align: center;
    margin-bottom: 2rem;
    width: 60%;
    margin: auto;
  }
  .footer {
    margin-top: 1rem;
  }
  .text-col {
    text-align: center;
  }
  .row-seven{
    display: none;
  }
  .footer-row{
    display: block;
    text-align: center;
    margin-top: 1rem;
  }
}



@media screen and (max-width: 449px) {
  .text-header {
    text-align: center;
  }
  .video-col {
    max-width: 600px;
    display: flex;
    align-items: center;
    padding: 0;
  }
  .first-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  video {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .logo-col {
    max-width: 150px;
    order: 1;
  }
  #mc_embed_signup {
    width: 100%;
    margin: auto;
  }
  .core-col {
    max-width: 600px;
  }
  .row-six {
    text-align: center;
    margin-bottom: 2rem;
    width: 80%;
    margin: auto;
  }
}

/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
  height: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  background-color: white;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
