@font-face {
  font-family: cocogoose-regular;
  src: url('../fonts/Cocogoose-Classic-Medium-trial.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

.vimeo-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* pointer-events: none; */
  overflow: hidden;
}
.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: -1; */
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  /* margin-right: 4rem; */
  color: #fff;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.1rem;
  border: 1px solid white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
  box-shadow: none;
}

.home-container {
  height: 100vh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.home-row {
  padding: 0 10rem 0 10rem;
  z-index: 1000;
}

.home-text {
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 3px;
}

.home-col {
  width: 100%;
}

.create-button {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  outline: 0;
  border: 1px solid white;
  font-family: 'cocogoose-regular';
  letter-spacing: 2px;
  margin: auto;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  transition: 0.5s ease;
}

.create-button a {
  text-decoration: none;
}

.create-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgb(255, 255, 255);
  outline: 0;
  border: 1px solid rgb(255, 255, 255);
  font-family: 'cocogoose-regular';
  letter-spacing: 2px;
  width: 100%;
  padding: 1rem 2rem;
  transform: scale(1.1);
}

.col-logo {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
}

.row-copyright {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.vision-media-logo {
  width: 3rem;
}

a {
  color: #fff !important;
}

.fa {
  font-size: 2rem;
}

ul {
  text-align: center;
}

.myIcon {
  z-index: 1000;
}

@media screen and (min-width: 1399px) {
  .home-row {
    padding: 0 20rem 0 20rem;
  }
}
@media screen and (min-width: 1800px) {
  .home-row {
    padding: 0 35rem 0 35rem;
  }
}

@media screen and (min-width: 2200px) {
  .home-row {
    padding: 0 50rem 0 50rem;
  }
}

@media screen and (max-width: 767px) {
  .navbar-nav {
    margin-right: 0;
  }
  .home-row {
    padding: 0 3rem 0 3rem;
  }
}

@media screen and (max-width: 575px) {
  .home-row {
    padding: 0 1rem 0 1rem;
    margin-top: -8rem;
  }
  .home-text {
    font-size: 1rem;
  }
  .vision-media-logo {
    width: 2rem;
  }
  .col-logo {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
  }

  .row-copyright {
    position: absolute;
    right: 1rem;
    bottom: 0rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
  }
}

.myIcon {
  margin-left: 3rem;
  margin-right: 3rem;
}

.hide {
  visibility: hidden;
  font-size: 1rem;
  margin-top: 10px;
  opacity: 0;
  text-transform: uppercase;
  text-align: center;
  transition: 0.8s;
}

.myIcon:hover .hide {
  visibility: visible;
  opacity: 1;
}


@media screen and (max-width: 576px) {
  .vimeo-wrapper {
    background-image: url('../images/home-screen-bg.jpg');
    background-position: center;
    background-size: cover;
  }
  .vimeo-wrapper iframe {
    display: none;
  }

  .phone-container {
    position: relative;
  }
}

@media screen and (max-width: 515px) {
  .fa-col {
    display: flex;
    flex-direction: row;
  }
}
