* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  line-height: 1.5;
  background: white;
  color: black;
}

p {
  font-size: 14px;
  line-height: 1.5;
}

/* ////////////////////////////////// */
.first-row {
  display: flex;
  margin-top: 5rem;
}

.box-container {
  max-width: 1200px;
}

.logo-col {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.video-col {
  max-width: 600px;
  display: flex;
  justify-content: center;
}

video {
  width: 450px;
}

.core-col {
  max-width: 600px;
}

.logo-image {
  max-width: 50%;
  max-height: 50%;
}

.second-row {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.text-header {
  text-align: center;
}

.text-col {
  text-align: center;
  max-width: 600px;
}

@media screen and (max-width: 768px) {
  .second-row {
    display: flex;
    flex-direction: column;
  }
  .text-header {
    margin-bottom: 1rem;
  }
  .text-col {
    margin-top: 1rem;
  }
  .text-description {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 449px) {
  .text-header {
    text-align: center;
  }
  .video-col {
    max-width: 600px;
    display: flex;
    align-items: center;
  }
  .first-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  video {
    width: 350px;
    margin-top:2rem;
    margin-bottom:2rem
  }
  .logo-col {
    max-width: 200px;
    order: 1;
  }
}
