* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  background: #fff;
  color: rgb(0, 0, 0);
}

p {
  font-size: 14px;
  line-height: 1.5;
}

.invisible-buttom {
  visibility: hidden;
}

.nav-bar-text {
  margin: 0;
  color: black;
  display: none;
}
a {
  color: rgb(0, 0, 0) !important;
}

.navbar-collapse {
  text-align: center;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.contact-row {
  margin-top: 10rem;
  margin-right: 5rem;
  margin-left: 5rem;
}

h2,
h3,
h4,
h5 {
  letter-spacing: 2px;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
  color: #919191;
  line-height: 1.5;
}

.col-one {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-container {
  width: 80%;
  margin: auto;
}

.contact-text {
  text-align: center;
}

.form input,
.form textarea {
  border-radius: 5px;
  outline: 0;
  border: 1px solid #919191;
}

.form textarea {
  height: auto;
}

.form input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 1px solid #919191;
  background-color: #fff;
  box-shadow: 0 0 5px #cacaca;
}

.contact-form label {
  letter-spacing: 1px;
  margin-bottom: 8px;
  margin-top: 16px;
}

.contact-form ::placeholder {
  color: #919191;
  /* text-indent: 0.5rem; */
  font-size: 14px;
  padding: 12px 4px;
}

.rereCAPTCHA-text {
  font-size: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-button {
  width: 15rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 5rem;
  /* border-radius: 30px; */
  outline: 0;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 0.5rem 3rem 0.5rem 3rem;
  font-size: 12px;
  transition: 0.5s ease;
}

.form-button:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.video-container {
  width: 80%;
  margin: auto;
}

.video-container video {
  width: 100%;
}

.col-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col-phone {
  text-align: center;
}

.email-col {
  margin-bottom: 0.5rem;
  text-align: center;
}

.email-col p {
  margin-bottom: 0;
}

.email-link {
  text-decoration: none;
  color: #919191 !important;
  transition: 0.5s ease;
}

.email-link:hover,
.email-link:focus,
.email-link:visited {
  text-decoration: underline;
  color: #000000 !important;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-media-icon {
  margin: 0 10px 0 0;
  padding: 10px 10px 6px 10px;
  -webkit-transition: all ease 0.9s;
  transition: all ease 0.9s;
  border: 1px solid rgba(255, 255, 255, 0);
}

.social-media-icon:hover {
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.header-carousel {
  font-size: 2rem;
  text-align: center;
}

.quote {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 3rem;
}

.content-slider {
  width: 80%;
  height: 100px;
  background: black;
  margin: auto;
}

.slider {
  height: 320px;
  width: 680px;
  margin: 0 auto 0;
  overflow: visible;
  position: relative;
  color: white;
}

.mask {
  overflow: hidden;
  height: 100px;
  line-height: 100px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 680px;
  height: 320px;
  position: absolute;
  top: -325px;
  list-style: none;
}

.slider .quote {
  font-size: 2rem;
  text-align: center;
}

.slider .source {
  font-size: 20px;
  text-align: right;
}

.slider li.anim1 {
  animation: cycle 5s linear infinite;
}

.slider li.anim2 {
  animation: cycle2 5s linear infinite;
}

.slider li.anim3 {
  animation: cycle3 5s linear infinite;
}

.slider li.anim4 {
  animation: cycle4 5s linear infinite;
}

.slider li.anim5 {
  animation: cycle5 5s linear infinite;
}

.slider:hover li {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
}
